[color]
  ui = auto
[core]
  editor = /usr/bin/vim
	excludesfile = /home/ryo-sk/.gitignore
[help]
  autocorrect = 1
[alias]
  db = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
  rmall = !git ls-files --deleted | xargs git rm
  st = status
  cm = commit
  b = branch
  co = checkout
[user]
	email = funny_interesting_ryo@yahoo.co.jp
	name = Ryosuke0307
[init]
	templatedir = .git_tmp
