[color]
	ui = auto
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/ryosuke/.gitignore
[help]
	autocorrect = 1
[alias]
	db = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
  st = status
  cm = commit
  b = branch
  co = checkout
